.login-form {
  padding: 0 10% 8%;

  h2 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  input, textarea{
    box-shadow: none;
    &:focus{
      box-shadow: none;
      border-color: $black;
    }
  }

  .form-suggested-link {
    margin-top: 30px;
    color: $black;
    a {
      color: $gray-dark;
      &:hover{
        color: $red;
      }
    }
  }

  #back {
    color: $red;
  }
}

.btn-dark {
  background: $black;
  color: $white;
  padding: 10px 30px;
  &:hover{
    background: $red;
    color: $white;
  }
}

button.close {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact-row , .policy-row{
  padding: 50px 0;

}
.contact-row  {
  address{
    a {
      color: $red;
    }
  }

}

.contact-form {

  input, textarea{
    box-shadow: none;
    &:focus{
      box-shadow: none;
      border-color: $black;
    }
  }
}