
$link-vertical-padding:20px;
$link-horizontal-padding:25px;

@mixin breakpoint($point) {
  @if $point == 1300 {
    @media (max-width: 1300px) { @content; }
  }
  @else if $point == 991 {
    @media (max-width: 991px) { @content; }
  }
}

nav {
  background: $black;
  position: relative;

  .search {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 18px;
    background: transparent;
    border: none;
    &:focus {
      outline: 0;
    }
  }

  // @include breakpoint(767) {
  //   max-height:0;
  //   overflow:hidden;
  //   transition: all 0.5s ease;
  //   background:darken(#262626,5%);
  // }
}

.main-nav {
    margin:0;
    padding: 0;
    list-style: none;
    // for all
    ul {
        position: absolute;
        margin:0;
        padding: 0;
        list-style: none;
        background: darken($black,10%);
        width: 200px;
        z-index: 1200;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        @include breakpoint(991) {
            width: 100%;
            position: relative;
            visibility: visible;
            opacity: 1;
            overflow: hidden;
            display: none;
        }
    }

    li {
        position: relative;
        a {
            display: block;
            vertical-align: middle;
            font-size: 14px;
            padding: 15px 30px 15px 25px;
            text-align: left;
            color: $white;
            text-decoration: none;
            transition: all .3s ease;
            i {
                margin-top: 3px;
                padding-left: 5px;
                float: right;
            }

        }

        &:hover {
            > a {
                color: $white;
                background-color: $red;
                @include breakpoint(991) {
                  color: $red;
                  background-color: inherit;
                }
            }
        }

        // target hover
        &:hover {
            > ul {
                opacity: 1;
                visibility: visible;
            }
        }

        &.active {
            > a {
                color: $white;
                background-color: $red;
                @include breakpoint(991) {
                    color: $red;
                    background-color: transparent;
                }
            }
        }

    }

    // main nav items
    > li {
        float: left;
        @include breakpoint(991) {
            float: none;
            &.active {
                > a {
                    color: $white;
                    background-color: $red;
                }
            }
        }
        > a {
            padding: $link-vertical-padding $link-horizontal-padding;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
        }

        // first step
        > ul {
            // second step
            // and next all
            ul {
                top: 0;
                right: 0;
                margin-right: -200px;
                @include breakpoint(991) {
                    padding-left: 20px;
                    li {
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

}


/* mobile nav style */

.mobile {
  display:none;
  margin:0;
  padding:20px 15px 20px;
  background: $black;
  color:white;
  text-decoration:none;
  line-height:0;
  &:focus, &:hover {
    color: $white;
    text-decoration: none;
  }


  @include breakpoint(991) {
    display: table;
    // text-align: center;
  }
}

// .header {
//   .active {
//     max-height:9000px !important;
//     transition: all 1s ease;
//
//     a {
//       color: $white;
//       text-decoration: none;
//     }
//
//   }
// }


//nav light-border

.light-border {
  background: transparent;
  box-shadow: 0px 0px 0px 1px $gray-light inset;
  .search {
   > button {
      color: $black !important;
    }
  }

    ul{
    li {
      a{
        color: $black;
      }
      ul {
        a {
          color: $white;
        }
      }
    }
  }
}

.nav-gray-bg {
  background: $gray-light;
}

.nav-gray-bg-light {
  background: $gray-lighter;
}


//

.nav-logo {
  img {
    float: left;
    height: 45px;
    margin-right: 40px;
    margin-top: 5px;
  }


  @media only screen and (max-width:991px){
    img{
      display: none;
    }

  }
}


@media only screen and (max-width:991px){
  .intro {
    .mobile {
      display: block;
      text-align: center;
    }
    .main-nav {
      li {
        a{
          text-align: center;
        }
      }
    }
  }
}