$open-sans    : 'Open Sans', sans-serif;

$font-size    : 12px;

$white        : #ffffff;
$black        : #000000;
$gray-dark    : #727272;
$gray         : #d4d4d4;
$gray-light   : #dddddd;
$gray-lighter : #f3f3f3;
$red          : #ed1c24;

$primary-color          : #2077fa;
$success-color          : #0cb969;
$danger-color           : #ed1c24;
$warning-color          : #ffd65b;
$info-color             : #05a4c3;



